{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6",
    "strict": true,
    "noInterop": false,
    "strictMode": true
    
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": false,
      "decorators": false
    },
    "target": "es2022",
    "preserveAllComments": false,
    "loose": false,
    "externalHelpers": false
  },
  "minify": false
}