<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin | Music follower</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand bg-light">
    <div class="container-xl">
      <a class="navbar-brand" href="/admin">Music Follower</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if (authenticated) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin/artists">Artists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/releases">Releases</a>
            </li>
            <% if (userRole === "admin") { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin/users">Users</a>
              </li>
            <% } %>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin/auth/login">Login</a>
            </li>
          <% } %>
        </ul>
      </div>
      <% if (authenticated) { %>
        <form class="d-flex" action="/admin/auth/logout" method="post">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
      <% } %>
    </div>
  </nav>

  <%- include("partials/alerts.ejs") %>

  <%- body %>
</body>
</html>
