{
  "name": "@music-follower/sync-release-task",
  "cwd": "<project/root/path>",
  "script": "dist/apps/sync-releases-task/main.ts",
  "interpreter": "<interpreter>",
  "exec_mode": "fork",
  "watch": false,
  "instances": 1,
  "wait_ready": true,
  "env": {
    "NODE_ENV": "production"
  }
}
