{
  "name": "@music-follower/sync-releases-job",
  "cwd": "<path>",
  "script": "src/apps/jobs/main.ts",
  "args": ["syncReleasesJob"],
  "interpreter": "node_modules/.bin/ts-node",
  "node_args": ["-P", "tsconfig.json"],
  "exec_mode": "fork",
  "watch": false,
  "instances": 1,
  "wait_ready": true,
  "env": {
    "NODE_ENV": "production"
  }
}
