{
  "name": "@music-follower/sync-release-job",
  "cwd": "<project/root/path>",
  "script": "dist/apps/jobs/main.ts",
  "args": ["job", "sync-releases"]
  "interpreter": "node_modules/.bin/ts-node",
  "exec_mode": "fork",
  "watch": false,
  "instances": 1,
  "wait_ready": true,
  "env": {
    "NODE_ENV": "production"
  }
}
