<div class="container-xl mt-4 text-center">
  <div class="row">
    <div class="col">
      <h1 class="display-2">Welcome to music follower admin</h1>
      <h4>See your releases and manage your artists</h4>
    </div>
  </div>
</div>
