@media (prefers-color-scheme: dark) {
  body,
  html {
    background-color: #212529;
  }
}

@media (prefers-color-scheme: light) {
  body,
  html {
    background-color: #fff;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
