@import url(/v130/bootstrap@5.3.2/dist/css/bootstrap.css);
@import url(/v130/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css);
@import url(./_resets.css);

#init-loading {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 9999999999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
