@import url("https://esm.sh/v135/simpledotcss@2.3.0/simple.min.css");

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#header-actions button,
#header-actions .button,
#header-actions input,
#header-actions select,
.artist-actions .button,
.artist-actions button {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
}
