<div class="container-xl mt-4">
  <div class="row">
    <div class="col">
      <h1>Profile <%= user.username %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h3>Edit profile </h3>

      <form action="/admin/profile/edit" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" name="username" value="<%= user.username %>" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" name="email" value="<%= user.email %>" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Current Password</label>
          <input type="password" class="form-control" name="currentPassword" required>
        </div>
        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input type="password" class="form-control" name="newPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  </div>
</div>
